POSTGRES_USER=postgres
POSTGRES_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=ecommerce_payment
DATABASE_USER=postgres
WEBHOOK_SECRET=
WEBHOOK_TIMEOUT_SECONDS=5
ALLOWED_CALLBACK_ORIGINS=http://localhost:5000,http://host.docker.internal:8080
